In [20]:
from scipy.io import arff
import pandas as pd
import numpy as np

from sklearn.naive_bayes import BernoulliNB
from sklearn.model_selection import train_test_split

import plotly.plotly as py
import plotly.graph_objs as go
from plotly.tools import set_credentials_file
from plotly.offline import init_notebook_mode
set_credentials_file(username='mynameistony', api_key='M37H9VmJFuqdvIdT33vj')
init_notebook_mode(connected=True)

#### Part 1

Load data in .arff to pd.DataFrame (1.2)

In [2]:
data, _ = arff.loadarff('data/raw/spambase.arff.txt')

In [3]:
spambase = pd.DataFrame(data)
spambase.head()

,word_freq_make,word_freq_address,word_freq_all,word_freq_3d,word_freq_our,word_freq_over,word_freq_remove,word_freq_internet,word_freq_order,word_freq_mail,...,char_freq_;,char_freq_(,char_freq_[,char_freq_!,char_freq_$,char_freq_#,capital_run_length_average,capital_run_length_longest,capital_run_length_total,is_spam
0,0.00,0.64,0.64,0.0,0.32,0.00,0.00,0.00,0.00,0.00,...,0.00,0.000,0.0,0.778,0.000,0.000,3.756,61.0,278.0,b'1'
1,0.21,0.28,0.50,0.0,0.14,0.28,0.21,0.07,0.00,0.94,...,0.00,0.132,0.0,0.372,0.180,0.048,5.114,101.0,1028.0,b'1'
2,0.06,0.00,0.71,0.0,1.23,0.19,0.19,0.12,0.64,0.25,...,0.01,0.143,0.0,0.276,0.184,0.010,9.821,485.0,2259.0,b'1'
3,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.00,0.137,0.0,0.137,0.000,0.000,3.537,40.0,191.0,b'1'
4,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.00,0.135,0.0,0.135,0.000,0.000,3.537,40.0,191.0,b'1'

Drop columns (1.4)

In [4]:
spambase.drop(['capital_run_length_average', 'capital_run_length_longest', 'capital_run_length_total'], 1, inplace=True)

Convert column types (1.5)

In [5]:
def numberic_to_bool(df, inplace=False):
    """
    convert columns with numerical dtypes to boolean
    """
    if not inplace:
        df = df.copy()
    num_cols = df.select_dtypes(float).columns
    df.loc[:, num_cols] = df.loc[:, num_cols].astype(bool).astype(int)
    return df

def object_to_str(df, inplace=False, str_to_bool=False):
    """
    convert columns with objects dtypes to str (or bool)
    """
    if not inplace:
        df = df.copy()
    if not str_to_bool:
        lmbd = lambda x: x.str
    else:
        lmbd = lambda x: x.str.decode("utf-8").astype(int)
    obj_cols = df.select_dtypes([np.object]).columns
    df.loc[:, obj_cols] = df.loc[:, obj_cols].apply(lmbd)
    return df

In [6]:
spambase = numberic_to_bool(spambase)

In [7]:
spambase = object_to_str(spambase, False, True)

Save data with bag of words (1.6)

In [8]:
spambase.to_csv('data/spambase_bag_of_words.csv', index=False)

#### Part 2 (unfinished)

Create labels (classes) to fit Naive Bayes (train and test sets in fact)

In [9]:
Y = spambase.pop('is_spam')
X = spambase

Fit Naive Bayes for Bernoulli destribution (because all columns are boolean now)

In [10]:
clf = BernoulliNB(fit_prior=False)
clf.fit(X, Y)

BernoulliNB(alpha=1.0, binarize=0.0, class_prior=None, fit_prior=False)

Predict for random sample

In [11]:
clf.predict(X.loc[5:6])

array([0, 1])

Compare execution time on whole dataset (4601 obs.) and sample (2000 obs.)

In [12]:
%%timeit
clf.fit(X.loc[:1999], Y[:2000])

1.47 ms ± 5.65 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [13]:
%%timeit
clf.fit(X, Y)

3.51 ms ± 41.4 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

#### Part 3

Load data in .arff to pd.DataFrame (3.1)

In [34]:
data, _ = arff.loadarff('data/raw/credit.arff.txt')

In [35]:
credit = pd.DataFrame(data)
credit.head()

,CheckingAccount,Duration,CreditHistory,Purpose,CreditAmount,SavingsAccount,YearsEmployed,InstallmentRate,PersonalStatus,OtherDebtors,...,Property,Age,OtherPlans,Housing,NumCreditsAtBank,Job,Dependents,Telephone,Foreign,Approve
0,b'<0',0.0,b'ok',b'furniture',-1.000000e+09,b'unknown',b'unemployed',-10000.0,b'female_single',b'none',...,b'car',-293.0,b'none',b'own',-1000.0,b'skilled',-185.0,b'yes',b'no',b'good'
1,b'<0',6.0,b'critical',b'television',1.169000e+03,b'unknown',b'>=7',4.0,b'male_single',b'none',...,b'real_estate',67.0,b'none',b'own',2.0,b'skilled',1.0,b'yes',b'yes',b'good'
2,b'<200',48.0,b'ok_til_now',b'television',5.951000e+03,b'<100',b'<4',2.0,b'female',b'none',...,b'real_estate',22.0,b'none',b'own',1.0,b'skilled',1.0,b'no',b'yes',b'bad'
3,b'none',12.0,b'critical',b'education',2.096000e+03,b'<100',b'<7',2.0,b'male_single',b'none',...,b'real_estate',49.0,b'none',b'own',1.0,b'unskilled',2.0,b'no',b'yes',b'good'
4,b'<0',42.0,b'ok_til_now',b'furniture',7.882000e+03,b'<100',b'<7',2.0,b'male_single',b'guarantor',...,b'savings',45.0,b'none',b'free',1.0,b'skilled',2.0,b'no',b'yes',b'good'

Plot Age and Duration (3.2)

In [36]:
age_duration_plt = [go.Scatter(x=credit.index, y=credit.Age, name='Age'), 
                    go.Scatter(x=credit.index, y=credit.Duration, name='Duration')]

In [37]:
py.iplot(age_duration_plt)

Drop observations where Age < 0 (3.3)

In [38]:
credit = credit.loc[credit.Age > 0]

Split on train and test sets (3.4)

In [39]:
train, test = train_test_split(credit, test_size=0.2)